Huge Stock Market Prediction Project.
Started on: 04-October-2023.

Task: To successfully predict the stock market's ups and downs.

Data set courtesy of Boris Marjanovic.

In [1]:
# importing useful libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression # For linear regression
from sklearn.ensemble import RandomForestRegressor # For Random Forest
from sklearn.tree import DecisionTreeRegressor # For Decision Tree
from sklearn.neighbors import KNeighborsRegressor # For K-Nearest-Neighbor
from sklearn.svm import SVR # For support vector machine
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

%matplotlib inline

Loading the CSV file

In [2]:
path = '/kaggle/input/price-volume-data-for-all-us-stocks-etfs/Stocks/a.us.txt'
data = pd.read_csv(path)

Performing Data Preprocessing tasks

In [3]:
# displaying 1st 5 rows of the data set
data.head()

         Date    Open    High     Low   Close    Volume  OpenInt
0  1999-11-18  30.713  33.754  27.002  29.702  66277506        0
1  1999-11-19  28.986  29.027  26.872  27.257  16142920        0
2  1999-11-22  27.886  29.702  27.044  29.702   6970266        0
3  1999-11-23  28.688  29.446  27.002  27.002   6332082        0
4  1999-11-24  27.083  28.309  27.002  27.717   5132147        0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     4521 non-null   object
 1   Open     4521 non-null   float64
 2   High     4521 non-null   float64
 3   Low      4521 non-null   float64
 4   Close    4521 non-null   float64
 5   Volume   4521 non-null   int64
 6   OpenInt  4521 non-null   int64
dtypes: float64(4), int64(2), object(1)
memory usage: 247.4+ KB

In [5]:
data.describe()

,Open,High,Low,Close,Volume,OpenInt
count,4521.000000,4521.000000,4521.000000,4521.000000,4.521000e+03,4521.0
mean,27.856296,28.270442,27.452486,27.871357,3.993503e+06,0.0
std,12.940880,13.176000,12.711735,12.944389,2.665730e+06,0.0
min,7.223100,7.513900,7.087800,7.323800,0.000000e+00,0.0
25%,19.117000,19.435000,18.780000,19.089000,2.407862e+06,0.0
50%,24.456000,24.809000,24.159000,24.490000,3.460621e+06,0.0
75%,36.502000,37.046000,35.877000,36.521000,4.849809e+06,0.0
max,105.300000,109.370000,97.881000,107.320000,6.627751e+07,0.0